# Categorical Data

## 1. Background and Motivation

In [1]:
import numpy as np
import pandas as pd

In [2]:
values = pd.Series(['apple', 'orange', 'apple', 'apple'] * 2)
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [3]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [4]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

### 1.1 Dimension tables
* Efficient storage of Data

In [5]:
values = pd.Series([0, 1, 0, 0] * 2)
dim = pd.Series(['apple', 'orange'])

In [6]:
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [7]:
dim

0     apple
1    orange
dtype: object

In [8]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

## 2. Categorical Type in pandas

In [9]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)

frame = pd.DataFrame({'fruit': fruits,
                     'basket_id': np.arange(N),
                     'count': np.random.randint(3, 15, size=N),
                     'weight': np.random.uniform(0, 4, size=N)},
                     columns=['basket_id', 'fruit', 'count', 'weight'])

In [10]:
frame

   basket_id   fruit  count    weight
0          0   apple     10  2.568061
1          1  orange      9  2.293605
2          2   apple     11  0.770470
3          3   apple     13  2.135626
4          4   apple     10  0.910046
5          5  orange     11  2.153398
6          6   apple     10  1.770218
7          7   apple      9  2.256150

In [11]:
#converting a string object => categorical
fruit_cat = frame['fruit'].astype('category')

In [12]:
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [13]:
type(fruit_cat.values)

pandas.core.arrays.categorical.Categorical

In [14]:
fruit_cat.values.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [15]:
fruit_cat.values.categories

Index(['apple', 'orange'], dtype='object')

In [16]:
frame['fruit'] = frame['fruit'].astype('category')
frame['fruit']

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

### 2.1 Creating a pd categories directly

In [17]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_categories

['foo', 'bar', 'baz', 'foo', 'bar']
Categories (3, object): ['bar', 'baz', 'foo']

## 3. Categorical Methods

In [18]:
s = pd.Series(['a', 'b', 'c', 'd'] * 2)
cat_s = s.astype('category')
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

In [19]:
cat_s.cat.codes

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

In [20]:
cat_s.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [21]:
cat_s.value_counts()

a    2
b    2
c    2
d    2
dtype: int64

### 3.1 Creating dummy variables for modeling

In [22]:
cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2, dtype='category')

pd.get_dummies(cat_s)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1